p {
  text-align: justify;
  font-size: 1.2em;
}

.image-en-grand {
  margin: 0;
  background-image: url("../assets/images/image.png");
  background-size: cover;
  color: white;
  text-align: center;
}

.image-en-grand h1 {
  margin: 0;
  padding: 100px 0;
}