@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-size: 1.1em;
  margin: 15px 0;
}

p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.8em;
  line-height: 30px;
}

.center {
  text-align: center;
}

.gras {
  font-weight: bold;
}

.right {
    float: right;
  }
  
.font-blue {
    color: #01579B;
}

.mdl-layout__header {
  background-color: #01579B;
}

.image-en-grand {
  margin: 0;
  background-position: center;
  /* background-size: cover; */
  width: 100%;
  height: 150px;
}

.mdl-card {
  position: relative;
  margin-top: -80px;
  margin-bottom: 20px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 #000;
  clear: both;
}

.qualities {
  margin: 20px 0;
}

.qualities p {
  margin: auto;
}

.qualities p, .qualities h2 {
  text-align: center;
}

.mdl-navigation .self-menu {
  line-height: 70px;
}

.mdl-navigation .self-menu .self-link {
  display: inline-block;
  padding: 20px;
}

.mdl-navigation .self-menu .self-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu {
  display: none;
  position: absolute;
  background-color: #01579B;
  list-style: none;
  margin: 0;
  margin-top: -5px;
  padding: 0;
}

.mdl-navigation .self-menu .self-link:hover .self-menu--submenu {
  display: block;
  border-radius: 5px;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu .self-menu--submenu--link {
  padding: 10px;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu .self-menu--submenu--link:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu .self-menu--submenu--link:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu:hover .self-menu--submenu--link:hover {
  background-color: #039BE5;
}

.mdl-navigation .self-menu .self-link .self-menu--submenu:hover .self-menu--submenu--link:hover a {
  color: #fff;
}

.mdl-navigation .self-menu .self-link ul li a {
  color: #fff;
}

.logo {
  width: 150px;
  height: 50px;
}

<<<<<<< HEAD
.mdl-mini-footer {
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #01579B;
}

.mdl-mini-footer a {
    color: #fff;
  }

@media screen and (max-width: 1000px) {
    .mdl-card {
        margin-top: 20px;
    }
}



ul.mdl-layout--large-screen-only li.article2 {
=======
li.article {
  display: inline-block;
  margin-right: 3.5em;
}

ul.mdl-layout--large-screen-only {
margin-left : -125px;
}


li.article2 {
>>>>>>> master
  display: inline;
  list-style: none;
}


ul.mdl-layout--large-screen-only li.article2 a img {
  width: 9%;
  margin-right : 4%;
  margin-top : 
}

ul.mdl-layout--small-screen-only li.article3 a img {
  width: 30%;
  margin: 7% 25%;
}

ul.mdl-layout--small-screen-only li.article3{
  list-style: none;
}

#carte {
  width: 100%;
  height: 700px;
}

.centered {
  text-align: center;
}

.prog {
  width: 100%;
  height: 1000px;
}

.survey {
  width: 100%;
  height: 700px;
}

.mdl-layout__content {
  flex: 1 0 auto;
}

.titre-actu {
  font-size: 1.5em;
  margin-top: 0.75em;
}
  
ul li a img.icon {
  width: 60%;
}

.mdl-mega-footer {
    background-color: #01579B;
    position: relative;
    margin-top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .mdl-mega-footer--heading {
      font-size: 1.2em;
  }
  
  .mdl-mega-footer--link-list a {
      color: #ecf0f1;
  }

@media screen and (max-width: 1000px) {
    .mdl-card {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1000px) {
  a img.iconMobile {
      margin-top: 20px;
      width: 15%;
  }
}